In [93]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [94]:
data = pd.read_csv('dataset.csv')

In [95]:
data.dropna(inplace =True)
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,15,1,1,19,1,1,10,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,12,1,1,1,22,27,10,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9,1,1,1,22,27,8,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,5,1,15,1,1,9,23,27,6,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

In [119]:
#data.drop(columns =['GDP','Inflation rate','Unemployment rate'],inplace =True)

In [100]:
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0.000000,0,0,0,0,0,0.000000,0,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,6,14.000000,0,0,6,6,6,13.666667,0,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,0.000000,0,0,6,0,0,0.000000,0,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,6,13.428571,0,0,6,10,5,12.400000,0,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,5,12.333333,0,0,6,6,6,13.000000,0,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,5,13.600000,0,0,6,8,5,12.666667,0,Graduate
4420,1,1,2,15,1,1,19,1,1,10,...,6,12.000000,0,0,6,6,2,11.000000,0,Dropout
4421,1,1,1,12,1,1,1,22,27,10,...,7,14.912500,0,0,8,9,1,13.500000,0,Dropout
4422,1,1,1,9,1,1,1,22,27,8,...,5,13.800000,0,0,5,6,5,12.000000,0,Graduate
4423,1,5,1,15,1,1,9,23,27,6,...,6,11.666667,0,0,6,6,6,13.000000,0,Graduate

In [101]:
data['Target'].value_counts()

Graduate    2209
Dropout     1421
Enrolled     794
Name: Target, dtype: int64

In [102]:
data.drop(data.index[data['Target'] == 'Enrolled'], inplace = True)

In [103]:
data['Target'].value_counts()

Graduate    2209
Dropout     1421
Name: Target, dtype: int64

In [104]:
new = {'Dropout':0,
      'Graduate':1}
data['Target'] =data['Target'].replace(new)

In [105]:
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0.000000,0,0,0,0,0,0.000000,0,0
1,1,6,1,11,1,1,1,1,3,4,...,6,14.000000,0,0,6,6,6,13.666667,0,1
2,1,1,5,5,1,1,1,22,27,10,...,0,0.000000,0,0,6,0,0,0.000000,0,0
3,1,8,2,15,1,1,1,23,27,6,...,6,13.428571,0,0,6,10,5,12.400000,0,1
4,2,12,1,3,0,1,1,22,28,10,...,5,12.333333,0,0,6,6,6,13.000000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,15,1,1,1,1,1,6,...,5,13.600000,0,0,6,8,5,12.666667,0,1
4420,1,1,2,15,1,1,19,1,1,10,...,6,12.000000,0,0,6,6,2,11.000000,0,0
4421,1,1,1,12,1,1,1,22,27,10,...,7,14.912500,0,0,8,9,1,13.500000,0,0
4422,1,1,1,9,1,1,1,22,27,8,...,5,13.800000,0,0,5,6,5,12.000000,0,1
4423,1,5,1,15,1,1,9,23,27,6,...,6,11.666667,0,0,6,6,6,13.000000,0,1

In [106]:
train_data = data.sample(frac = 0.8, random_state=0)
test_data = data.drop(train_data.index)
test_data.shape

(726, 32)

In [107]:
train_label = train_data.pop('Target')
test_label = test_data.pop('Target')
test_label.shape

(726,)

In [108]:
x_train = tf.keras.utils.normalize(train_data)
y_test = tf.keras.utils.normalize(test_data)

In [109]:
model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(800,activation =tf.nn.relu))
model.add(tf.keras.layers.Dense(400,activation =tf.nn.relu))
model.add(tf.keras.layers.Dense(200,activation =tf.nn.relu))
model.add(tf.keras.layers.Dense(100,activation =tf.nn.relu))
model.add(tf.keras.layers.Dense(1))

In [110]:
model.compile(optimizer ='adam',
             loss = 'mse',
             metrics =['mae','mse'])

In [111]:
model.fit(x_train,train_label,epochs =100)

Epoch 1/100
91/91 [==============================] - 1s 3ms/step - loss: 0.1540 - mae: 0.3001 - mse: 0.1540
Epoch 2/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0930 - mae: 0.2029 - mse: 0.0930
Epoch 3/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0901 - mae: 0.1934 - mse: 0.0901
Epoch 4/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0912 - mae: 0.1962 - mse: 0.0912
Epoch 5/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0819 - mae: 0.1766 - mse: 0.0819
Epoch 6/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0812 - mae: 0.1776 - mse: 0.0812
Epoch 7/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0747 - mae: 0.1658 - mse: 0.0747
Epoch 8/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0738 - mae: 0.1575 - mse: 0.0738
Epoch 9/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0750 - mae: 0.1598 - mse: 0.0750
Epoch 10/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0756 - mae: 0.1624 - mse: 0.0756
Epoch 11/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0717 - mae: 0.1526 - mse: 0.0717
Epoch 12/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0695 - mae: 0.1498 - mse: 0.0695
Epoch 13/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0688 - mae: 0.1462 - mse: 0.0688
Epoch 14/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0722 - mae: 0.1575 - mse: 0.0722
Epoch 15/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0690 - mae: 0.1459 - mse: 0.0690
Epoch 16/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0671 - mae: 0.1421 - mse: 0.0671
Epoch 17/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0677 - mae: 0.1452 - mse: 0.0677
Epoch 18/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0688 - mae: 0.1468 - mse: 0.0688
Epoch 19/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0661 - mae: 0.1412 - mse: 0.0661
Epoch 20/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0649 - mae: 0.1401 - mse: 0.0649
Epoch 21/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0625 - mae: 0.1339 - mse: 0.0625
Epoch 22/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0624 - mae: 0.1344 - mse: 0.0624
Epoch 23/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0593 - mae: 0.1272 - mse: 0.0593
Epoch 24/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0627 - mae: 0.1360 - mse: 0.0627
Epoch 25/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0658 - mae: 0.1430 - mse: 0.0658
Epoch 26/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0612 - mae: 0.1315 - mse: 0.0612
Epoch 27/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0624 - mae: 0.1349 - mse: 0.0624
Epoch 28/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0602 - mae: 0.1286 - mse: 0.0602
Epoch 29/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0602 - mae: 0.1273 - mse: 0.0602
Epoch 30/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0604 - mae: 0.1285 - mse: 0.0604
Epoch 31/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0588 - mae: 0.1244 - mse: 0.0588
Epoch 32/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0594 - mae: 0.1307 - mse: 0.0594
Epoch 33/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0600 - mae: 0.1270 - mse: 0.0600
Epoch 34/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0585 - mae: 0.1251 - mse: 0.0585
Epoch 35/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0574 - mae: 0.1228 - mse: 0.0574
Epoch 36/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0560 - mae: 0.1214 - mse: 0.0560
Epoch 37/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0562 - mae: 0.1216 - mse: 0.0562
Epoch 38/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0571 - mae: 0.1231 - mse: 0.0571
Epoch 39/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0608 - mae: 0.1305 - mse: 0.0608
Epoch 40/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0534 - mae: 0.1156 - mse: 0.0534
Epoch 41/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0547 - mae: 0.1158 - mse: 0.0547
Epoch 42/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0518 - mae: 0.1137 - mse: 0.0518
Epoch 43/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0533 - mae: 0.1171 - mse: 0.0533
Epoch 44/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0532 - mae: 0.1182 - mse: 0.0532
Epoch 45/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0575 - mae: 0.1209 - mse: 0.0575
Epoch 46/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0521 - mae: 0.1156 - mse: 0.0521
Epoch 47/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0521 - mae: 0.1135 - mse: 0.0521
Epoch 48/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0550 - mae: 0.1185 - mse: 0.0550
Epoch 49/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0483 - mae: 0.1072 - mse: 0.0483
Epoch 50/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0511 - mae: 0.1144 - mse: 0.0511
Epoch 51/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0470 - mae: 0.1031 - mse: 0.0470
Epoch 52/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0479 - mae: 0.1074 - mse: 0.0479
Epoch 53/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0493 - mae: 0.1083 - mse: 0.0493
Epoch 54/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0450 - mae: 0.1002 - mse: 0.0450
Epoch 55/100
91/91 [==============================] - 0s 3ms/step - loss: 0.0467 - mae: 0.1014 - mse: 0.0467
Epoch 56/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0510 - mae: 0.1114 - mse: 0.0510
Epoch 57/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0500 - mae: 0.1085 - mse: 0.0500
Epoch 58/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0478 - mae: 0.1052 - mse: 0.0478
Epoch 59/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0445 - mae: 0.0995 - mse: 0.0445
Epoch 60/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0427 - mae: 0.0977 - mse: 0.0427
Epoch 61/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0420 - mae: 0.0939 - mse: 0.0420
Epoch 62/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0429 - mae: 0.0981 - mse: 0.0429
Epoch 63/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0429 - mae: 0.0976 - mse: 0.0429
Epoch 64/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0401 - mae: 0.0899 - mse: 0.0401
Epoch 65/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0445 - mae: 0.0995 - mse: 0.0445
Epoch 66/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0410 - mae: 0.0946 - mse: 0.0410
Epoch 67/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0400 - mae: 0.0902 - mse: 0.0400
Epoch 68/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0439 - mae: 0.0995 - mse: 0.0439
Epoch 69/100
91/91 [==============================] - 0s 5ms/step - loss: 0.0358 - mae: 0.0835 - mse: 0.0358
Epoch 70/100
91/91 [==============================] - 0s 5ms/step - loss: 0.0410 - mae: 0.0891 - mse: 0.0410
Epoch 71/100
91/91 [==============================] - 0s 5ms/step - loss: 0.0404 - mae: 0.0917 - mse: 0.0404
Epoch 72/100
91/91 [==============================] - 0s 5ms/step - loss: 0.0440 - mae: 0.0991 - mse: 0.0440
Epoch 73/100
91/91 [==============================] - 0s 5ms/step - loss: 0.0415 - mae: 0.0948 - mse: 0.0415
Epoch 74/100
91/91 [==============================] - 0s 5ms/step - loss: 0.0347 - mae: 0.0792 - mse: 0.0347
Epoch 75/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0358 - mae: 0.0849 - mse: 0.0358
Epoch 76/100

91/91 [==============================] - 0s 4ms/step - loss: 0.0354 - mae: 0.0817 - mse: 0.0354
Epoch 77/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0367 - mae: 0.0840 - mse: 0.0367
Epoch 78/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0309 - mae: 0.0733 - mse: 0.0309
Epoch 79/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0301 - mae: 0.0702 - mse: 0.0301
Epoch 80/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0328 - mae: 0.0751 - mse: 0.0328
Epoch 81/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0402 - mae: 0.0883 - mse: 0.0402
Epoch 82/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0322 - mae: 0.0779 - mse: 0.0322
Epoch 83/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0289 - mae: 0.0678 - mse: 0.0289
Epoch 84/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0291 - mae: 0.0701 - mse: 0.0291
Epoch 85/100
91/91 [==============================] - 0s 5ms/step - loss: 0.0355 - mae: 0.0796 - mse: 0.0355
Epoch 86/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0307 - mae: 0.0751 - mse: 0.0307
Epoch 87/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0250 - mae: 0.0627 - mse: 0.0250
Epoch 88/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0270 - mae: 0.0657 - mse: 0.0270
Epoch 89/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0304 - mae: 0.0717 - mse: 0.0304
Epoch 90/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0323 - mae: 0.0769 - mse: 0.0323
Epoch 91/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0262 - mae: 0.0673 - mse: 0.0262
Epoch 92/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0404 - mae: 0.0913 - mse: 0.0404
Epoch 93/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0277 - mae: 0.0670 - mse: 0.0277
Epoch 94/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0266 - mae: 0.0656 - mse: 0.0266
Epoch 95/100
91/91 [==============================] - 0s 5ms/step - loss: 0.0262 - mae: 0.0630 - mse: 0.0262
Epoch 96/100
91/91 [==============================] - 0s 5ms/step - loss: 0.0226 - mae: 0.0591 - mse: 0.0226
Epoch 97/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0272 - mae: 0.0640 - mse: 0.0272
Epoch 98/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0259 - mae: 0.0621 - mse: 0.0259
Epoch 99/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0284 - mae: 0.0668 - mse: 0.0284
Epoch 100/100
91/91 [==============================] - 0s 4ms/step - loss: 0.0275 - mae: 0.0687 - mse: 0.0275

In [112]:
loss,mae,mse = model.evaluate(y_test,test_label,verbose=0)
print('Testing set Mean Abs Error :{:5.2f}'.format(mae))

Testing set Mean Abs Error : 0.12

In [113]:
model.save('school_dropout.model')

INFO:tensorflow:Assets written to: school_dropout.model\assets

In [132]:
#pred = model.predict(tf.keras.utils.normalize(np.array([[1,6,1,11,1,1,1,1,3,4,4,1,0,0,0,1,0,19,0,0,6,6,6,14.0,0,0,6,6,6,13.666666666666666,0]])))

In [140]:
test_data.iloc[0].Flatten()

AttributeError: 'Series' object has no attribute 'Flatten'

In [137]:
pr= model.predict(test_data.iloc[0])

InvalidArgumentError: Graph execution error:

Detected at node 'sequential_10/dense_45/Relu' defined at (most recent call last):
    File "C:\Users\johnd\anaconda3\lib\runpy.py", line 196, in _run_module_as_main
      return _run_code(code, main_globals, None,
    File "C:\Users\johnd\anaconda3\lib\runpy.py", line 86, in _run_code
      exec(code, run_globals)
    File "C:\Users\johnd\anaconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
      app.launch_new_instance()
    File "C:\Users\johnd\anaconda3\lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
      app.start()
    File "C:\Users\johnd\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 711, in start
      self.io_loop.start()
    File "C:\Users\johnd\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
      self.asyncio_loop.run_forever()
    File "C:\Users\johnd\anaconda3\lib\asyncio\base_events.py", line 603, in run_forever
      self._run_once()
    File "C:\Users\johnd\anaconda3\lib\asyncio\base_events.py", line 1906, in _run_once
      handle._run()
    File "C:\Users\johnd\anaconda3\lib\asyncio\events.py", line 80, in _run
      self._context.run(self._callback, *self._args)
    File "C:\Users\johnd\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
      await self.process_one()
    File "C:\Users\johnd\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
      await dispatch(*args)
    File "C:\Users\johnd\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
      await result
    File "C:\Users\johnd\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 729, in execute_request
      reply_content = await reply_content
    File "C:\Users\johnd\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 411, in do_execute
      res = shell.run_cell(
    File "C:\Users\johnd\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 531, in run_cell
      return super().run_cell(*args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2961, in run_cell
      result = self._run_cell(
    File "C:\Users\johnd\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3016, in _run_cell
      result = runner(coro)
    File "C:\Users\johnd\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
      coro.send(None)
    File "C:\Users\johnd\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3221, in run_cell_async
      has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
    File "C:\Users\johnd\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3400, in run_ast_nodes
      if await self.run_code(code, result, async_=asy):
    File "C:\Users\johnd\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3460, in run_code
      exec(code_obj, self.user_global_ns, self.user_ns)
    File "C:\Users\johnd\AppData\Local\Temp\ipykernel_22048\2231031010.py", line 1, in <module>
      pr= model.predict(y_test.iloc[0])
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\training.py", line 2253, in predict
      tmp_batch_outputs = self.predict_function(iterator)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\training.py", line 2041, in predict_function
      return step_function(self, iterator)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\training.py", line 2027, in step_function
      outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\training.py", line 2015, in run_step
      outputs = model.predict_step(data)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\training.py", line 1983, in predict_step
      return self(x, training=False)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\training.py", line 557, in __call__
      return super().__call__(*args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\base_layer.py", line 1097, in __call__
      outputs = call_fn(inputs, *args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 96, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\sequential.py", line 410, in call
      return super().call(inputs, training=training, mask=mask)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\functional.py", line 510, in call
      return self._run_internal_graph(inputs, training=training, mask=mask)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\functional.py", line 667, in _run_internal_graph
      outputs = node.layer(*args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 65, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\engine\base_layer.py", line 1097, in __call__
      outputs = call_fn(inputs, *args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 96, in error_handler
      return fn(*args, **kwargs)
    File "C:\Users\johnd\anaconda3\lib\site-packages\keras\layers\core\dense.py", line 255, in call
      outputs = self.activation(outputs)
Node: 'sequential_10/dense_45/Relu'
Matrix size-incompatible: In[0]: [31,1], In[1]: [31,800]
	 [[{{node sequential_10/dense_45/Relu}}]] [Op:__inference_predict_function_206800]

In [130]:
new_pred = pred.flatten()
print(new_pred)

[0.9535443]

In [123]:
#data.to_string()

In [128]:
l = [1,6,1,11,1,1,1,1,3,4,4,1,0,0,0,1,0,19,0,0,6,6,6,14.0,0,0,6,6,6,13.666666666666666,0]
len(l)

31